body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2ebfb;
}

a {
  text-decoration: underline;
}

img {
  width: 70px;
  height: 100px;
}

button {
  background-color: #9667e0;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  margin: 5px;
  text-align: center;
  transition: color 100ms;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #d4bbfc;
}

.full-body-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#google-c {
  color: #4285f4;
}

#google-s {
  color: #db4437;
}

#google-4 {
  color: #f4b400;
}

#google-3 {
  color: #9667e0;
}

#google-0-1 {
  color: #0f9d58;
}

#google-0-2 {
  color: #db4437;
}

.google-colors {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}

.google-colors h1 {
  margin-bottom: 0;
  margin-right: 3px;
}

.input-box {
  border-radius: 50px;

  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  width: 600px;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  background-color: #f2ebfb;

  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
}

#answer-box {
  margin-top: 100px;
  display: flex;
  width: 700px;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin-top: 275px;
}

.episode-title {
  font-family: "Kanit", sans-serif;
}

/*
.episode-desc {
    font-family: 'Montserrat', sans-serif;
} */

.answer-container {
  margin-top: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.episode-title {
  font-size: 18px;
  margin: 0;
}

.episode-desc {
  margin-top: 5px;
}

.episode-rating {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}



.user-notice {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
  width: 600px;
}

#graph-container {
  height: 400px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}