<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-radar.min.js"></script>

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <!-- <h1 id="google-4">The</h1> -->
                <h1 id="google-3">The Givers</h1>
                <!-- <h1 id="google-0-1">0</h1>
                <h1 id="google-0-2">0</h1> -->
            </div>
            <!-- <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a Keeping up with the Kardashians episode" id="filter-text-val"
                    onkeyup="filterText()"> -->
        </div>
        <div>
            <form id="form">
                <div class="input-box" onclick="sendFocus()">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="I'm looking for a gift for someone who likes..." id="filter-text-val">
                </div>
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" required>

                <label for="categories">Category</label>
                <select name="categories" id="categories">
                    <option value="anything">Anything</option>
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="user-notice">
            For our users: Inputting a price range and category will filter the dataset so products costing from $0 to
            the price max and products only in the specified category will appear. The first 10 outputs of your results
            are generated through cosine similarity with the top results having the highest similarity score to your
            query. The results following the first 10 results are the SVD results sorted by the result with the highest
            similarity score at the top. Product star ratings are factored into the cosine similarity to further filter
            cosine similarity results so products with higher star ratings are returned if there are close ties. Marking
            a product as "helpful" will regenerate a response using Rocchio algorithm to return improved search
            results. The latent dimensions chart represents the latent dimensions of our query for SVD purposes.
        </div>
        <div id="loading-indicator" style="display: none;">
            <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading...">
        </div>

    </div>
    <div id="graph-container"></div>
    <div id="answer-box">

    </div>
    </div>


    <script>
        window.onload = function () {
            fetchCategories();
        };

        let helpfulTitles = [];
        var price;
        var category;

        document.getElementById("form").addEventListener('submit', function (e) {
            e.preventDefault();
            helpfulTitles = [];
            loading(true);
            var description = document.getElementById('filter-text-val').value;
            price = Number(document.getElementById('price').value);
            category = document.getElementById('categories').value;
            var data = {
                "title": description,
                "pricing": price,
                "category": category
            };
            document.getElementById("answer-box").innerHTML = ""
            document.getElementById("graph-container").innerHTML = ""
            fetch("/episodes", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Failed")
                    }
                    // put display the explainability metric here?
                    console.log("hello reached here")
                    return response.json();
                })
                .then((data) => {
                    console.log("data", data)
                    loading(false);
                    // console.log("reached the other then statement")
                    // console.log("res: ", res)
                    // let dis = data["dis"]
                    // console.log("dis", dis)
                    // console.log("reached after trying to reference dis")
                    let dims = data.explain;
                    let res_dims = data.results;
                    // let tempDiv = document.createElement("div")
                    // tempDiv.innerHTML = getExplainability()
                    // document.getElementById("graph-container").appendChild(tempDiv)
                    getExplainability(dims);
                    let counter = 0;
                    data.dis.forEach(row => {
                        let tempDiv = document.createElement("div")
                        let image_url = "{{ url_for('static', filename='images/default.png') }}";
                        let url = "N/A"
                        if (row.large != "") {
                            image_url = row.large;
                        }
                        console.log(image_url)
                        if (row.url) {
                            url = row.url
                        }

                        if (counter < 10) {
                            tempDiv.innerHTML = answerBoxTemplate(row.name, row.descr, row.url, row.price, row.rating, image_url, description, row.sim);
                            document.getElementById("answer-box").appendChild(tempDiv)
                        }
                        else {
                            tempDiv.innerHTML = svdBoxTemplate(row.name, row.descr, row.url, row.price, row.rating, image_url, description, counter - 10);
                            document.getElementById("answer-box").appendChild(tempDiv)
                            updateExplainability(res_dims, dims, counter - 10)
                        }




                        counter += 1
                    })
                })
                .catch(error => {
                    loading(false);
                    console.error('There has been a problem with your fetch operation for images:', error);
                    document.getElementById("answer-box").innerHTML = `<p>No results found</p>`;
                });
        })
        function fetchCategories() {
            fetch('/categories')
                .then(response => response.json())
                .then(categories => {
                    const selectElement = document.getElementById('categories');

                    categories.forEach(category => {
                        const option = document.createElement('option');
                        if (category == null) {
                            option.value = "Other";
                            option.textContent = "Other";
                        }
                        else {
                            option.value = category;
                            option.textContent = category;
                        }

                        selectElement.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching categories:', error);
                });
        }

        function handleHelpful(title, query) {
            let updated = false;
            if (!helpfulTitles.includes(title)) {
                helpfulTitles.push(title);
                updated = true;
            } else {
                helpfulTitles = [title];
                updated = true;
            }
            if (updated) {
                loading(true);
                sendHelpful(query);
            }
        }
        function loading(showLoading) {
            const loader = document.getElementById('loading-indicator');
            const answerBox = document.getElementById('answer-box');
            if (showLoading) {
                loader.style.display = 'block';
                answerBox.style.display = 'none';
            }
            else {
                loader.style.display = 'none';
                answerBox.style.display = 'block';

            }
        }

        function answerBoxTemplate(title, titleDesc, link, price, rating, image_url, query, sim) {
            return `<div class='answer-container'>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
                <p class='episode-desc'>Star rating: ${rating}</p>
                <p class='episode-desc'>Price: ${price}</p>
                <p class='episode-desc'> ${sim}</p>
                <p class='episode-rating'>Link: </p>
                <a href='${link}'>${link}</a>

                <img src='${image_url}'>
                <button type="button" onclick="handleHelpful('${title.replace(/'/g, "\\'")}', '${query}')">Helpful</button>
                
                </div>`
        }

        function svdBoxTemplate(title, titleDesc, link, price, rating, image_url, query, num_id) {
            // console.log(num_id)
            let container_name = "res-container-" + num_id
            console.log("container name", container_name)
            return `<div class='answer-container'>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
                <p class='episode-desc'>Star rating: ${rating}</p>
                <p class='episode-desc'>Price: ${price}</p>
                <p class='episode-rating'>Link: </p>
                <a href='${link}'>${link}</a>

                <div id='${container_name}'> </div>
                <img src='${image_url}'>
                <button type="button" onclick="handleHelpful('${title.replace(/'/g, "\\'")}', '${query}')">Helpful</button>
                
                </div>`
        }

        function updateExplainability(data_list, og_labels, id) {
            let latent_dims = Object.keys(og_labels)

            let data = data_list[id]
            console.log("data here", data)
            let container_name = "res-container-" + id;

            anychart.onDocumentReady(function () {
                // console.log("here1")

                document.getElementById(container_name).innerHTML = '';



                // create a data set
                // var chartData = {
                // header: latent_dims,
                // rows: vals
                // };

                // var chartData = {
                //     header: ['#', 'Robert Lewandowski', 'Cristiano Ronaldo', 'Lionel Messi'],
                //     rows: [
                //         ['2017', 33, 19, 40],
                //         ['2018', 24, 36, 34],
                //         ['2019', 31, 17, 34],
                //         ['2020', 32, 33, 19],
                //         ['2021', 43, 25, 24],
                //         ['2022', 29, 11, 12]
                //     ]
                // };

                var chartData = {
                    header: ['#', 'Product'],
                    rows: [
                        [latent_dims[0], data[0]],
                        [latent_dims[1], data[1]],
                        [latent_dims[2], data[2]],
                        [latent_dims[3], data[3]],
                        [latent_dims[4], data[4]],
                        [latent_dims[5], data[5]],
                    ]
                };
                // console.log("here2")

                // create a radar chart
                var chart = anychart.radar();

                // set the chart data
                chart.data(chartData);

                // set the chart title
                chart.title("Latent Dims");

                // set the container id
                // console.log("here3")

                chart.container(container_name);

                // console.log("here4")

                // display the radar chart
                chart.draw();
                // console.log("here5")


            });
        }
        function getExplainability(data) {
            console.log(data)
            let latent_dims = Object.keys(data)
            let vals = Object.values(data)

            console.log(latent_dims)
            console.log(vals)

            anychart.onDocumentReady(function () {

                // create a data set
                // var chartData = {
                // header: latent_dims,
                // rows: vals
                // };

                // var chartData = {
                //     header: ['#', 'Robert Lewandowski', 'Cristiano Ronaldo', 'Lionel Messi'],
                //     rows: [
                //         ['2017', 33, 19, 40],
                //         ['2018', 24, 36, 34],
                //         ['2019', 31, 17, 34],
                //         ['2020', 32, 33, 19],
                //         ['2021', 43, 25, 24],
                //         ['2022', 29, 11, 12]
                //     ]
                // };

                var chartData = {
                    header: ['#', 'Product'],
                    rows: [
                        [latent_dims[0], vals[0]],
                        [latent_dims[1], vals[1]],
                        [latent_dims[2], vals[2]],
                        [latent_dims[3], vals[3]],
                        [latent_dims[4], vals[4]],
                        [latent_dims[5], vals[5]],
                    ]
                };

                // console.log("here1")
                // create a radar chart
                var chart = anychart.radar();

                // console.log("here2")
                // set the chart data
                chart.data(chartData);

                // console.log("here3")
                // set the chart title
                chart.title("Latent Dims");

                // console.log("here4")
                // set the container id
                chart.container('graph-container');

                // display the radar chart
                chart.draw();

            });
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }
        function sendHelpful(query) {
            fetch("/not-helpful", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    titles: helpfulTitles,
                    query: query,
                    pricing: price,
                    category: category
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Failed")
                    }
                    return response.json();
                })
                .then((updatedResults) => {
                    loading(false);
                    updatedAnswers(updatedResults, query);
                })
                // .then((updatedQuery) => {
                //     var data = {
                //         "title": updatedQuery['updated_query'],
                //         "pricing": price,
                //         "category": category
                //     }
                //     fetch("/episodes", {
                //         method: 'POST',
                //         headers: {
                //             'Content-Type': 'application/json',
                //         },
                //         body: JSON.stringify(data)
                //     })
                //         .then(response => {
                //             if (!response.ok) {
                //                 throw new Error("Failed")
                //             }
                //             return response.json();
                //         })
                //         .then((updatedResults) => {
                //             loading(false);
                //             updatedAnswers(updatedResults, query);
                //         })

                //         .catch(error => {
                //             loading(false);
                //             console.error('There has been a problem with your fetch operation:', error);
                //         });
                // })

                .catch(error => {
                    loading(false);
                    console.error('There has been a problem with your fetch operation:', error);
                });

        }
        function updatedAnswers(data, query) {
            document.getElementById("answer-box").innerHTML = ""
            let counter = 0;
            let dims = data.explain;
            let res_dims = data.results;
            data.dis.forEach(row => {
                let tempDiv = document.createElement("div")
                let image_url = "{{ url_for('static', filename='images/default.png') }}";
                let url = "N/A";


                if (row.large != "") {
                    image_url = row.large;
                }
                console.log(image_url)
                if (row.url) {
                    url = row.url
                }
                console.log("rocchio image url and url: ", image_url);
                console.log(url);


                // if (row.images && Array.isArray(row.images.hi_res) && row.images.hi_res[0]) {
                //     image_url = row.images.hi_res[0];
                // }
                // if (row.url) {
                //     url = row.url
                // }
                if (counter < 10) {
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.descr, row.url, row.price, row.rating, image_url, query, row.sim);
                    document.getElementById("answer-box").appendChild(tempDiv)
                }
                else {
                    tempDiv.innerHTML = svdBoxTemplate(row.name, row.descr, row.url, row.price, row.rating, image_url, query, counter - 10);
                    document.getElementById("answer-box").appendChild(tempDiv)
                    updateExplainability(res_dims, dims, counter - 10)
                }
                counter += 1;

                // tempDiv.innerHTML = answerBoxTemplate(row.name, row.descr, row.url, row.price, row.rating, image_url, query, row.sim);

                // document.getElementById("answer-box").appendChild(tempDiv)
                // updateExplainability(res_dims, dims, counter-10)

            });

        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.imdb_rating)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }


    </script>
</body>