<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <!-- <h1 id="google-4">The</h1> -->
                <h1 id="google-3">The Givers</h1>
                <!-- <h1 id="google-0-1">0</h1>
                <h1 id="google-0-2">0</h1> -->
            </div>
            <!-- <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a Keeping up with the Kardashians episode" id="filter-text-val"
                    onkeyup="filterText()"> -->
        </div>
        <div>
            <form id="form">
                <div class="input-box" onclick="sendFocus()">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Enter a description of the person you're buying a gift for"
                        id="filter-text-val">
                </div>
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" required>

                <label for="categories">Category</label>
                <select name="categories" id="categories">
                    <option value="anything">Anything</option>
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="loading-indicator" style="display: none;">
            <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading...">
        </div>

    </div>
    <div id="answer-box">

    </div>
    </div>


    <script>
        window.onload = function () {
            fetchCategories();
        };

        let helpfulTitles = [];
        var price;
        var category;

        document.getElementById("form").addEventListener('submit', function (e) {
            e.preventDefault();
            helpfulTitles = [];
            loading(true);
            var description = document.getElementById('filter-text-val').value;
            price = Number(document.getElementById('price').value);
            category = document.getElementById('categories').value;
            var data = {
                "title": description,
                "pricing": price,
                "category": category
            };
            document.getElementById("answer-box").innerHTML = ""
            fetch("/episodes", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Failed")
                    }
                    // put display the explainability metric here?
                    console.log("hello reached here")
                    return response.json();
                })
                .then((data) => {
                    loading(false);
                    // console.log("reached the other then statement")
                    // console.log("res: ", res)
                    // let dis = res["dis"]
                    // console.log("dis", dis)
                    // console.log("reached after trying to reference dis")

                    data.dis.forEach(row => {
                        let tempDiv = document.createElement("div")
                        let image_url = "{{ url_for('static', filename='images/default.png') }}";
                        let url = "N/A"
                        if (row.images && Array.isArray(row.images.thumb) && row.images.thumb[0]) {
                            image_url = row.images.thumb[0];
                        }
                        if (row.url) {
                            url = row.url
                        }

                        tempDiv.innerHTML = answerBoxTemplate(row.name, row.descr, row.url, row.price, row.rating, image_url, description);

                        document.getElementById("answer-box").appendChild(tempDiv)
                    })
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        })
        function fetchCategories() {
            fetch('/categories')
                .then(response => response.json())
                .then(categories => {
                    const selectElement = document.getElementById('categories');
                    selectElement.innerHTML = '';

                    categories.forEach(category => {
                        const option = document.createElement('option');
                        option.value = category;
                        option.textContent = category;
                        selectElement.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching categories:', error);
                });
        }

        function handleHelpful(title, query) {
            let updated = false;
            if (!helpfulTitles.includes(title)) {
                helpfulTitles.push(title);
                updated = true;
            } else {
                helpfulTitles = [title];
                updated = true;
            }
            if (updated) {
                loading(true);
                sendHelpful(query);
            }
        }
        function loading(showLoading) {
            const loader = document.getElementById('loading-indicator');
            const answerBox = document.getElementById('answer-box');
            if (showLoading) {
                loader.style.display = 'block';
                answerBox.style.display = 'none';
            }
            else {
                loader.style.display = 'none';
                answerBox.style.display = 'block';

            }
        }

        function answerBoxTemplate(title, titleDesc, link, price, rating, image_url, query) {
            return `<div class='answer-container'>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
                <p class='episode-desc'>Star rating: ${rating}</p>
                <p class='episode-desc'>Price: $${price}</p>
                <p class='episode-rating'>Link: </p>
                <a href='${link}'>${link}</a>

                <img src='${image_url}'>
                <button type="button" onclick="handleHelpful('${title.replace(/'/g, "\\'")}', '${query}')">Not Helpful</button>

                </div>`
        }
        function getExplainability() {

        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }
        function sendHelpful(query) {
            fetch("/not-helpful", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    titles: helpfulTitles,
                    query: query,
                    pricing: price
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Failed")
                    }
                    return response.json();
                })
                .then((updatedQuery) => {
                    var data = {
                        "title": updatedQuery['updated_query'],
                        "pricing": price,
                        "category": category
                    }
                    fetch("/episodes", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error("Failed")
                            }
                            return response.json();
                        })
                        .then((updatedResults) => {
                            loading(false);
                            updatedAnswers(updatedResults, query);
                        })

                        .catch(error => {
                            loading(false);
                            console.error('There has been a problem with your fetch operation:', error);
                        });
                })

                .catch(error => {
                    loading(false);
                    console.error('There has been a problem with your fetch operation:', error);
                });

        }
        function updatedAnswers(data, query) {
            document.getElementById("answer-box").innerHTML = ""
            data.dis.forEach(row => {
                let tempDiv = document.createElement("div")
                let image_url = "{{ url_for('static', filename='images/default.png') }}";
                let url = "N/A"
                if (row.images && Array.isArray(row.images.hi_res) && row.images.hi_res[0]) {
                    image_url = row.images.hi_res[0];
                }
                if (row.url) {
                    url = row.url
                }

                tempDiv.innerHTML = answerBoxTemplate(row.name, row.descr, row.url, row.price, row.rating, image_url, query);

                document.getElementById("answer-box").appendChild(tempDiv)
            });

        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.imdb_rating)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }


    </script>
</body>